.footer {
    padding-top: 67px;
    padding-bottom: 60px;
    padding-left: 200px;
    max-width: 880px;
    width: 100%;
}

.footer__copyright {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    color: #545454;     
    display: flex;
}

@media screen and (max-width:320px) {
    .footer {
        padding-top: 50px;
        padding-bottom: 36px;
        padding-left: 19px;
        max-width: 282px;
        width: 100%;
    }
}